*.o
*.a
*~
*.lo
*.la
*.Po

*.dis
*.rom
*.mot

.deps
.libs

generated_html
autom4te.cache

config.log
config.status
packages/urg_cpp_library/src/Makefile
packages/urg_cpp_library/sample/Makefile
autoscan.log
Makefile.in

get_distance
get_distance_intensity
get_multiecho
get_multiecho_intensity
sensor_parameter
sync_time_stamp
calculate_xy
evaluate_timestamp
libs/lidar/samples/find_port
libs/controller/samples/usb_joystick_view
programs/run_wired_controller/run_wired_controller
programs/run_urg_wired_recorder/run_urg_wired_recorder
*/urg_auto_recorder/urg_auto_recorder
all_test
libs/run_target/test/wheel_velocity_test
libs/run_target/test/motor_table_pwm_test

*/run_target/iatan2.c
*/run_target/iatan2.h
*/run_target/isin_icos.h
*/run_target/isin_icos.c